Bonjour {{ username }}, <br/>

Merci d'avoir créé un compte Leboncoin !<br/> 
Pour activer votre compte, merci de bien vouloir cliquer sur le lien ci-dessous:
<br/>
<a href="{{ url("confirm_account",{'token' : activationToken}) }}">Vérifier l'adresse mail</a>.
<br/>
<br/>
Merci de votre confiance,<br/>
<br/>
L'equipe leboncoin<br/>
<a href="http://localhost:3006">www.leboncoin.mg</a>.
